<ul>
  <li>Name: {{name}}</li>
  <li>Custom Function:
    <input type="button" onClick={{customClick}} value="Click Me" />
  </li>
  <li>Computed Function Test:
    <br/>
    What is your name? {{fullName}}
    {{input type="text" value=yourName}}
  </li>
  <li>Component Test Function (without component scope):
    <input type="button" onClick={{actions.testFunctionFromComponent}} value="Click Me" />
  </li>
  <li>Component Test Function (with component scope):
    <input type="button" onClick={{action "testFunctionFromComponent"}} value="Click Me" />
  </li>
  <li>
    Here's the child stuff you passed to me:
    <br/>
    <div class="test-component__yieldContent">
      {{yield}}
    </div>
  </li>
</ul>